@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,300);
@font-face {
  font-family: sans-serif;
  font-weight: Normal;
  font-style: Normal;
  src: url('.eot');
  src: url('.eot?#iefix') format('embedded-opentype'), url('.woff') format('woff'), url('.ttf') format('truetype'), url('.otf') format('opentype'), url('.svg#sans-serif') format('svg'); }

html {
  font-size: 100 %; }

body {
  background-color: transparent;
  color: #1e1e1e;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font: Normal 100%/1.5 sans; }

.debug {
  font-size: 16 px; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -moz-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -webkit-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -ms-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -o-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig"; }

.big, h1, h2, h3, h4, p, .notes {
  line-height: 1;
  margin-top: 0;
  background-color: rgba(255, 208, 90, 0.7); }

.big {
  font-size: 178 px;
  line-height: 240 px;
  margin-bottom: 24 px; }

h1 {
  font-size: 110 px;
  line-height: 168 px;
  margin-bottom: 24 px; }

h2 {
  font-size: 68 px;
  line-height: 120 px;
  margin-bottom: 24 px; }

h3 {
  font-size: 42 px;
  line-height: 96 px;
  margin-bottom: 24 px; }

h4 {
  font-size: 26 px;
  line-height: 96 px;
  margin-bottom: 24 px; }

p {
  font-size: 16 px;
  line-height: 24 px;
  margin-bottom: 24 px; }

.notes {
  font-size: 10 px;
  line-height: 16 px;
  margin-bottom: 24 px; }